[submodule "tracer.node"]
	path = tracer.node
	url = https://github.com/teodor-stoenescu/tracer.node.git
[submodule "web.interface"]
	path = web.interface
	url = https://github.com/teodor-stoenescu/web.interface.git
[submodule "river.genetic"]
	path = river.genetic
	url = https://github.com/marius92mc/river-log-file-analysis.git
