{
	"rabbit" : {
		"host" : "<your_rabbit_server_ip_here>",
		"port" : 5672,
		"user" : "<your_rabbit_user_here>",
		"password" : "<your_rabbit_pass_here>",
		"flow" : {
			"prefix" : "<all_amqp_objects_will_have_this_prefix>",
			"new" : "<new_queue_name>",
			"batched" : "<batched_queue_name>"
		}
	},

	"mongo" : {
		"host" : "<your_mongo_server_ip_here>",
		"port" : 27017,
		"database" : "<your_mongo_database_here>",
		"prefix" : "<your_mongo_collection_prefixes_here>"
	},

	"interface" : {
		"secret" : "<your_interface_secret_here>"
	}
}