
<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse fixed-top" role="navigation">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/images/cardinal.png" />
    {{appTitle}}
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let page of pages">  
        <a class="nav-link" routerLinkActive="active" [routerLink]="page.href">{{page.name}}</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <app-usermenu></app-usermenu>
    </ul>
  </div>
</nav>

<div class="app-container">
  <router-outlet></router-outlet>
</div>
<div>
  <div ngbModalContainer></div>
</div>
<simple-notifications [options]="notificationOptions"></simple-notifications>
